@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Embedded sts</h1>
    <p class="lead">Embedded sts is an application demonstrating the use of embedded sts.</p>
    <p><a href="https://blog.baslijten.com/how-to-setup-a-simple-sts-for-web-application-development/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
